In [ ]:
!pip install google-play-scraper

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting google-play-scraper
  Downloading google_play_scraper-1.2.2-py3-none-any.whl (28 kB)
Installing collected packages: google-play-scraper
Successfully installed google-play-scraper-1.2.2

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
from google_play_scraper import app
import pandas as pd #untukmembuatdataframe
import numpy as np #untukoperasivektroataumatriks

In [ ]:
from google_play_scraper import Sort, reviews_all
us_reviews = reviews_all(
    'com.traveloka.android',
    sleep_milliseconds=0, # defaults to 0
    lang='id', # defaults to 'en'
    country='id', # defaults to 'us'
    sort=Sort.NEWEST, # defaults to Sort.MOST_RELEVANT
    count=2500,
)

In [ ]:
df_data = pd.DataFrame(np.array(us_reviews),columns=['review'])
df_data = df_data.join(pd.DataFrame(df_data.pop('review').tolist()))
df_data.head()

,reviewId,userName,userImage,content,score,thumbsUpCount,reviewCreatedVersion,at,replyContent,repliedAt
0,d2e62b15-f82f-4208-911d-be001a816252,ario miguel,https://play-lh.googleusercontent.com/a-/ACNPE...,ok,5,0,3.66.0,2022-11-22 07:34:05,"Hi, we are so grateful to get a lot of support...",2022-11-22 08:00:27
1,c7c4f760-c593-485d-90bb-2c894180729b,Giyant Aja,https://play-lh.googleusercontent.com/a/ALm5wu...,Jelek sekali apk ini,1,0,3.66.0,2022-11-22 07:16:44,"Hai, Kak Giyant. Maaf banget sudah buat kamu g...",2022-11-22 07:34:40
2,6a8263a1-e409-4cbc-9fd1-7bb4e0a926a5,Baek Hyun,https://play-lh.googleusercontent.com/a-/ACNPE...,"Traveloka kalo cari cs dilayani sma both, gk m...",1,0,3.66.0,2022-11-22 07:04:07,"Hai, Kak. Mohon maaf atas ketidaknyamanannya. ...",2022-11-22 07:33:52
3,160eed04-d988-48d9-b515-8f258966092f,Meli Saja,https://play-lh.googleusercontent.com/a-/ACNPE...,mantap,5,0,3.66.0,2022-11-22 06:48:21,"Hai, Kak Meli. Senang banget dapat bintang lim...",2022-11-22 07:02:57
4,a7c44b65-257c-4e5d-a680-cf95ae8eeb89,Lambe Somad,https://play-lh.googleusercontent.com/a/ALm5wu...,Berguna bangett ga ribet,5,0,3.66.0,2022-11-22 06:33:31,"Halo Kak, terima kasih banyak atas ratingnya, ...",2022-11-22 07:00:31

In [ ]:
len(df_data.index)

163777

In [ ]:

df_data[['userName', 'score','at', 'content']].head()

,userName,score,at,content
0,ario miguel,5,2022-11-22 07:34:05,ok
1,Giyant Aja,1,2022-11-22 07:16:44,Jelek sekali apk ini
2,Baek Hyun,1,2022-11-22 07:04:07,"Traveloka kalo cari cs dilayani sma both, gk m..."
3,Meli Saja,5,2022-11-22 06:48:21,mantap
4,Lambe Somad,5,2022-11-22 06:33:31,Berguna bangett ga ribet

In [ ]:
review = df_data[['userName', 'score','at', 'content']]
sorted_df = review.sort_values(by='at', ascending=False) 
sorted_df.head()

,userName,score,at,content
0,ario miguel,5,2022-11-22 07:34:05,ok
1,Giyant Aja,1,2022-11-22 07:16:44,Jelek sekali apk ini
2,Baek Hyun,1,2022-11-22 07:04:07,"Traveloka kalo cari cs dilayani sma both, gk m..."
3,Meli Saja,5,2022-11-22 06:48:21,mantap
4,Lambe Somad,5,2022-11-22 06:33:31,Berguna bangett ga ribet

In [ ]:
ss = sorted_df[['userName', 'score','at', 'content']]

In [ ]:
ss.head()

,userName,score,at,content
0,ario miguel,5,2022-11-22 07:34:05,ok
1,Giyant Aja,1,2022-11-22 07:16:44,Jelek sekali apk ini
2,Baek Hyun,1,2022-11-22 07:04:07,"Traveloka kalo cari cs dilayani sma both, gk m..."
3,Meli Saja,5,2022-11-22 06:48:21,mantap
4,Lambe Somad,5,2022-11-22 06:33:31,Berguna bangett ga ribet

In [ ]:
ss.to_csv("ReviewTraveloka.csv", index = False)